<div id='masthead'>
  <div class='limiter clearfix'>
    <a href='{{site.baseurl}}/' class='title'><span class='icon logo'></span>Tunisia Election Data</a>

    <div class='nav'>
      <div class='dropdown-menu'>
        {% for item in site.languages %}
          {% if page.language == item.key %}
          <a href='#' class='button dropdown-hover'><span class='icon down'></span>{{item.name}}</a>
          {% endif %}
        {% endfor %}
        <ul class='dropdown'>
          {% for i in site.languages %}
          <li><a href='{{site.baseurl}}/{{i.key}}/projects' {% if page.language == i.key %}class='active'{% endif %}>{{i.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
