---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <meta name='apple-mobile-web-app-status-bar-style' content='black' />
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <title>Tunisia Open Data Project {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <link href='{{site.baseurl}}/site.css' rel='stylesheet'>
  <script src='{{site.baseurl}}/site.js'></script>
  <script src='{{site.baseurl}}/jquery.bxslider.min.js'></script>
  <link href='{{site.baseurl}}/jquery.bxslider.css' rel='stylesheet'>
  <script type='text/javascript'> 
   $(document).ready(function(){
     var w= Math.floor($(window).width()/4);
         console.log(w);
         
     $('.bxslider').bxSlider({
	  slideWidth:w,
          auto: true,
	  minSlides: 4,
	  maxSlides: 4,
          moveSlides:1,
	  slideMargin: 0,
          pause:10000,
          pager:false
     });
   });
 </script>
</head>
  <body class='{% if page.url == "/" %}front{% endif %}'>

    <div id='container'>
      {{ content }}
    </div>
    <div id='footer' class='projects'>
      <div class='limiter' style='padding:20px 40px 20px 34px'>
        <p class='footer-text'>A project exploring open data<span class='footer-text fr'> <a href='http://www.democracyinternational.com'>Democracy International</a> | <a href='http://newrightsgroup.net'>New Rights Group</a> | <a href='http://developmentseed.org'>DevelopmentSeed</a></span></p> 

      </div>
    </div>
</body>
</html>
