---
layout: default
---

{% include masthead.html %}

	<ul class='projects clearfix bxslider'>
	  {% for item in site.categories.[page.language] %} 
	  <li class='col col3'>
	    <a href='{{site.baseurl}}{{item.url}}' class='project' style="background-image:url('{{site.baseurl}}/img/projects/{{item.img}}');">
	      <div class='bg'></div>
	      <h4 class='heading above'>{{item.title}}</h4>
	      <h3 class='subtitles above'>{{item.subtitle}}</h3>
	    </a>
	  </li>
	  {% endfor %}
	</ul>
 
<script type="text/javascript">

wHeight = $(window).height();
$('.project').css('height',wHeight-242)

</script>
